body {
    margin: 0;
    padding: 0;
}
.container {
    background: white;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 600px;
    font-size: 1.25em;
}

.w400.container { max-width: 400px; }
.w500.container { max-width: 500px; }
.w600.container { max-width: 600px; }
.w800.container { max-width: 800px; }
.w1200.container { max-width: 1200px; }
.small.container { font-size: 1.15em; }
.tiny.container { font-size: 1.0em; }
.large.container { font-size: 1.5em; }
.huge.container { font-size: 2.0em; }

blockquote {
    margin-left: 0;
    margin-right: 0;
}
blockquote blockquote {
    margin: auto;
    margin-right: 15px;
    width: 85%;
    padding: 0;
    font-style: italic;
}
blockquote blockquote::before {
    content: '“';
    font-size: 200%;
    float: left;
    margin-left: -30px;
    margin-top: -10px;
}
blockquote blockquote::after {
    content: '”';
    float: right;
    font-size: 200%;
    margin-top: -30px;
    margin-right: -30px;
}

.single.container hr {
    border: none;
    border-top: none;
}

.container > ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container > ul > li {
    padding-left: 10px;
    border-left: 4px solid #aaa;
    margin-bottom: 1em;
}

.turn-page {
    position: relative;
    width: 100%;
    height: 25px;
    margin-bottom: 1em;
    border-bottom: 1px solid #aaa;
}
.turn-page a {
    font-family: Helvetica;
    font-size: 75%;
    font-weight: bold;
    text-decoration: none;
    color: Gray;
    margin-right: 20px;
}
.turn-page a:hover {
    color: black;
}
@media print {
    .no-print {
        display: none;
    }
}

.single.container h1,
.single.container h2, 
.single.container h3
{
    color: Crimson;
    font-style: italic;
    font-size: 120%;
}
.single.container h2 { font-size: 110%; }
.single.container h3 { 
    font-size: 100%; 
}

pre, code {
    font-family: VT323, monospace;
    font-style: normal !important;
}

.single.container h1.single-title {
    color: Crimson;
    font-size: 150%;
}

author {
    display: block;
    width: 100%;
    text-align: center;
}

.author {
    text-align: right;
    font-size: 100%;
    font-style: italic;
    margin: 0;
    margin-bottom: 1em;
    color: Teal;
}

.remark {
    font-size: 80%;
    margin-left: auto;
    margin-bottom: 1em;
    border: thin solid teal;
    border-top-width: 4px;
    padding: 10px;
} 

.comments {
    font-family: Helvetica;
    font-size: 75%;
}

.draft {
    font-family: Helvetica;
    color: Salmon;
    font-weight: bold;
    font-size: 30pt;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 0;
    opacity: 0.5;
    pointer-events: none;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}
table td,
table th {
    border: thin solid #aaa;
    padding: 5px;
}

a.page-link {
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    font-style: normal;
    font-size: 90%;
}
