/* css styles */

@import url('static/css/fonts/fonts.css');

body {
    font-family: ETBembo, serif;
}

#quarto-margin-sidebar {
    font-family: var(--bs-body-font-family);
}

.jumbotron {
    /* background-color: #f8f9fa; */
    border-radius: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    font-size: 2em;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    max-width: 600px;
    padding: 0 50px;
}
.jumbotron p:last-child {
    margin-bottom: 0;
}

.footer {
    border-top: 4px solid #e5e5e5;
    text-align: center;
    margin-top: 50px;
}
#quarto-content {
    color: #222;
}
section > h1 {
    font-size: 1.7em;
    border-bottom: 1px solid #e5e5e5;
}
h2.anchored {
    font-size: 1.3em;
    text-decoration: none;
    border: none;
    margin-top: 10px;
}

.member {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.member img {
    min-width: 100px;
    max-width: 100px;
    border-radius: 50%;
}
.member > div {
    margin-left: 20px;
}