<!doctype html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://kenpuca.github.io/css/syntax.css">
<link rel="stylesheet" href="https://kenpuca.github.io/css/style.css">

        
<link rel=stylesheet href="https://kenpuca.github.io/css/index.css">

    </head>
    <body>
        
    
    <div class="list container">
        <h1> Fragments </h1>

        

<p class="post-counts">

There are no posts yet.

</p>

<ul class="summaries">
    
</ul>

    </div>

        
        
    </body>
</html>
