<!doctype html>

<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" 
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

<link rel="stylesheet" href="https://kenpuca.github.iocss/syntax.css">
<link rel="stylesheet" href="https://kenpuca.github.iocss/style.css">

        
<link rel="stylesheet" href="https://kenpuca.github.iocss/single.css">

    </head>
    <body>
        
    
    
    <div class="single container">
        <h1> 
             
        </h1>

        <p>I am a computer scientist. At the same time, I am also a professor at a
small university.</p>

<p>My job description is very open ended.  A large chunk of my time is spent
on the <em>education</em> of computer science. Normally, I teach four undergraduate
courses on a variety of topics in computer science.  Given that my expertise
is in systems, my teaching is usually limited to systems courses such as
<em>Compilers</em> and <em>Databases</em>.</p>


        <div class="turn-page">
    
    
    
    
    
    
    <a class="prev" href="https://kenpuca.github.io/fragments/contact/">Previous</a>
    
    
</div>


        
    </div>

        
        
  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    extensions: ["tex2jax.js"],
    jax: ["input/TeX", "output/HTML-CSS"],
    elements: [],
    skipStartupTypeset: false,
    /*
    "HTML-CSS": {
        scale: 83,
    },
    */
    //showMathMenu: false,
    //zoom: "None",
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
      processEscapes: true,
      skipTags: ["script", 
      "noscript", 
      "style", 
      "textarea", 
      "nomath", 
      //"pre",
      ],
      // nomathjax used by (code ...) component
      ignoreClass: "nomath|nomathjax|tex2jax_ignore", 
    },
    /*
    TeX: {
        equationNumbers: {autoNumber: "AMS"},
    },
    */
  });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js"></script>


    </body>
</html>
